fastapi
uvicorn[standard]
sqlalchemy
alembic
python-dotenv
pydantic-settings
aiosqlite
cryptography
pandas
openpyxl
requests
httpx
paramiko
scp
apscheduler
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
